SFS_HTTP_PORT=8080
SFS_DB_PORT=33067
MOODLE_WWWROOT=http://localhost:8080

MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodle
MOODLE_DB_PASSWORD=moodlepass
MYSQL_ROOT_PASSWORD=rootpass

MOODLE_REDIS_SESSIONS=1
MOODLE_DEBUG=0

MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=ChangeMe123!
MOODLE_ADMIN_EMAIL=admin@example.test
