{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_securefood/shell_sidebar

    SecureFood sidebar: brand, settings-driven navigation, user card.

    Example context (json):
    {
        "homeurl": "#",
        "sitename": "SecureFood School",
        "logofulllight": "logo.svg",
        "logofulldark": "logo.svg",
        "logoiconlight": "icon.svg",
        "logoicondark": "icon.svg",
        "navsections": [{"label": "Learning", "haslabel": true, "items": [
            {"title": "Student Lab", "url": "#", "icon": "school", "active": true}
        ]}],
        "usercard": {"fullname": "Olexandr S.", "initials": "OS", "subtitle": "Cohort 2026", "profileurl": "#"}
    }
}}
<nav class="sfs-sidebar" id="sfs-sidebar" aria-label="{{#str}}sidebarnav, theme_securefood{{/str}}">
    <a class="sfs-sidebar__brand" href="{{homeurl}}">
        <img src="{{logofulllight}}" alt="{{sitename}}" class="sfs-sidebar__logo sfs-sidebar__logo--full sfs-sidebar__logo--light">
        <img src="{{logofulldark}}" alt="{{sitename}}" class="sfs-sidebar__logo sfs-sidebar__logo--full sfs-sidebar__logo--dark">
        <img src="{{logoiconlight}}" alt="{{sitename}}" class="sfs-sidebar__logo sfs-sidebar__logo--icon sfs-sidebar__logo--light">
        <img src="{{logoicondark}}" alt="{{sitename}}" class="sfs-sidebar__logo sfs-sidebar__logo--icon sfs-sidebar__logo--dark">
    </a>

    {{#navsections}}
        {{#haslabel}}
            <div class="sfs-sidebar__label">{{label}}</div>
        {{/haslabel}}
        {{#items}}
            <a href="{{url}}" class="sfs-nav__item{{#active}} sfs-nav__item--active{{/active}}"
               data-sfs-tip="{{title}}"{{#active}} aria-current="page"{{/active}}>
                {{> theme_securefood/icon }}
                <span class="sfs-nav__label">{{title}}</span>
            </a>
        {{/items}}
    {{/navsections}}

    <div class="sfs-sidebar__spacer"></div>

    {{#usermenu}}
        <div class="sfs-sidebar__usermenu" data-region="usermenu">
            <div class="usermenu sfs-usercard-menu">
                {{#unauthenticateduser}}
                    <span class="login sfs-usercard-menu__login">
                        {{#guest}}
                            {{#str}} loggedinasguest, core {{/str}}
                        {{/guest}}
                        {{#url}}
                            <a class="sfs-usercard sfs-usercard--login" href="{{url}}">
                                <span class="sfs-usercard__avatar" aria-hidden="true">
                                    <span class="sfs-icon">login</span>
                                </span>
                                <span class="sfs-usercard__meta">
                                    <span class="sfs-usercard__name">{{#str}} login, core {{/str}}</span>
                                </span>
                            </a>
                        {{/url}}
                    </span>
                {{/unauthenticateduser}}
                {{^unauthenticateduser}}
                    <div class="dropdown show">
                        <button type="button" id="user-menu-toggle" data-bs-toggle="dropdown"
                                aria-label="{{#str}}usermenu{{/str}}" aria-haspopup="true"
                                aria-controls="user-action-menu"
                                class="sfs-usercard sfs-usercard--menu dropdown-toggle">
                            <span class="sfs-usercard__avatar sfs-usercard__avatar--core" aria-hidden="true">
                                {{#avatardata}}
                                    <span class="sfs-usercard__avataritem {{classes}}">{{{content}}}</span>
                                {{/avatardata}}
                            </span>
                            <span class="sfs-usercard__meta">
                                <span class="sfs-usercard__name">{{userfullname}}</span>
                                {{#subtitle}}<span class="sfs-usercard__role">{{subtitle}}</span>{{/subtitle}}
                            </span>
                            <span class="sfs-icon sfs-usercard__chevron" aria-hidden="true">expand_more</span>
                        </button>
                        <div id="user-action-menu" class="dropdown-menu dropdown-menu-end">
                            <div id="usermenu-carousel" class="carousel slide" data-touch="false"
                                 data-interval="false" data-keyboard="false">
                                <div class="carousel-inner">
                                    <div id="carousel-item-main" class="carousel-item active" role="menu"
                                         tabindex="-1" aria-label="{{#str}}user{{/str}}">
                                        {{> core/user_action_menu_items }}
                                    </div>
                                    {{#submenus}}
                                        <div id="carousel-item-{{id}}" role="menu" class="carousel-item submenu"
                                             tabindex="-1" aria-label="{{title}}">
                                            <div class="d-flex flex-column h-100">
                                                <div class="header">
                                                    <button type="button"
                                                            class="btn btn-icon carousel-navigation-link text-decoration-none text-body"
                                                            data-carousel-target-id="carousel-item-main"
                                                            aria-label="{{#str}}usermenugoback{{/str}}">
                                                        <span class="dir-rtl-hide">{{#pix}}i/arrow-left{{/pix}}</span>
                                                        <span class="dir-ltr-hide">{{#pix}}i/arrow-right{{/pix}}</span>
                                                    </button>
                                                    <span class="ps-2" id="carousel-item-title-{{id}}">{{title}}</span>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="items h-100 overflow-auto" role="menu"
                                                     aria-labelledby="carousel-item-title-{{id}}">
                                                    {{> core/user_action_menu_submenu_items }}
                                                </div>
                                            </div>
                                        </div>
                                    {{/submenus}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/unauthenticateduser}}
            </div>
            {{#js}}
                require(['core/usermenu'], function(UserMenu) {
                    UserMenu.init();
                });
            {{/js}}
        </div>
    {{/usermenu}}
    {{^usermenu}}
        {{#usercard}}
            <a class="sfs-usercard" href="{{profileurl}}">
                <span class="sfs-usercard__avatar" aria-hidden="true">{{initials}}</span>
                <span class="sfs-usercard__meta">
                    <span class="sfs-usercard__name">{{fullname}}</span>
                    {{#subtitle}}<span class="sfs-usercard__role">{{subtitle}}</span>{{/subtitle}}
                </span>
            </a>
        {{/usercard}}
    {{/usermenu}}
</nav>
