{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/login_panel

    SecureFood-branded content for the left panel of the split-screen login
    layout. Auth instructions configured by the site administrator are preserved.

    Example context (json):
    {
        "leftinstructions": "<p>Custom login instructions.</p>"
    }
}}
<div class="login-layout-left-content sfs-loginpanel">
    {{^leftinstructions}}
        <span class="sfs-loginpanel__kicker">{{#str}}loginpanel_kicker, theme_securefood{{/str}}</span>
        <h1 class="sfs-loginpanel__title">{{#str}}loginpanel_title, theme_securefood{{/str}}</h1>
        <p class="sfs-loginpanel__lede">{{#str}}loginpanel_lede, theme_securefood{{/str}}</p>
        <div class="sfs-loginpanel__chips" aria-label="{{#str}}loginpanel_chipslabel, theme_securefood{{/str}}">
            <span class="sfs-loginpanel__chip">{{#str}}loginpanel_chip_skills, theme_securefood{{/str}}</span>
            <span class="sfs-loginpanel__chip">{{#str}}loginpanel_chip_labs, theme_securefood{{/str}}</span>
            <span class="sfs-loginpanel__chip">{{#str}}loginpanel_chip_network, theme_securefood{{/str}}</span>
        </div>
    {{/leftinstructions}}
    {{#leftinstructions}}
        <div class="sfs-loginpanel__instructions">
            {{{leftinstructions}}}
        </div>
    {{/leftinstructions}}
</div>
